<div style="width: 750px; margin: auto">
  <h1>Angular Airlines</h1>

  <md-content class="md-padding">

    <md-nav-bar
      md-selected-nav-item="currentNavItem"
      nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-sref="booking" name="booking">
        Book Flight
      </md-nav-item>
      <md-nav-item md-nav-sref="profile" name="profile">
        My Trips
      </md-nav-item>
      <md-nav-item md-nav-sref="flights" name="flights">
        All Flights
      </md-nav-item>
      <md-nav-item md-nav-sref="map" name="map">
        Our Routes
      </md-nav-item>
      <md-nav-item md-nav-sref="signup" name="signup">
        Signup
      </md-nav-item>
      <md-nav-item md-nav-sref="login" name="login">
        Login
      </md-nav-item>

    </md-nav-bar>
    
        <ui-view></ui-view>
    </div>

  </md-content>
</div>
